//color
$primary: #eec968;
$secondary: #c29523;
$tertiary: #ecdcb2;

$primaryfc: #111;

$primarybg: #fcfcfc;
$secondarybg: #f7f7f7;
$tertiarybg: #f2f2f2;

// $primarylink: #???;

$gray: #aaa;
$gray-blue: #e2e8f0;

body {
  background: $primarybg;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $primaryfc;
}

// a {
//   color: $primarylink;
// }

// ----------------------------------------------------------------------------------------------------

// breakpoint
$breakpoints: (
  'sm': 'screen and (min-width: 640px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1024px)',
  'xl': 'screen and (min-width: 1280px)',
  'xxl': 'screen and (min-width: 1536px)',
) !default;
@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ----------------------------------------------------------------------------------------------------

// hover
@mixin hover {
  //PCのみhover要素を当てる
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
  //IE11対応用
  @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
    &:hover {
      @content;
    }
  }
}

// ----------------------------------------------------------------------------------------------------

// font-size px to rem
$baseFontSize: 16;
@function rem($pixels) {
  @return $pixels / $baseFontSize * 1rem;
}

// @mixin rem($size) {
//   font-size: $size + px;
//   font-size: ($size / 16) + rem;
// }
// li {
//   @include rem(15);
// }
